<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custumer.name %>
</p>

<p>
  <strong>Date of brith:</strong>
  <%= @custumer.date_of_brith %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @custumer.cpf %>
</p>

<p>
  <strong>Ammount of haircuts:</strong>
  <%= @custumer.ammount_of_haircuts %>
</p>

<%= link_to 'Edit', edit_custumer_path(@custumer) %> |
<%= link_to 'Back', custumers_path %>
